.button {
	color: #3880ff;
    background-color: #fff;
	font-size: 13px;
	font-weight: 600;
   	padding: 17px 20px 17px;
   	margin-right: 10px;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: .08em;
    align-items: center;
    -ms-flex-align: center;
	display: inline-flex;
	display: -ms-inline-flexbox;
    box-shadow: 0 1px 3px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.12);

}

.primary {
	color: white;
	background-color: #3880ff;
}

.button:hover {
	box-shadow: 0 7px 14px rgba(0,0,0,.12), 0 3px 6px rgba(0,0,0,.08);
	transition: all .3s ease;
}

.buttonLogin {
	max-height: 10px;
    padding: 12px 15px 12px;
    vertical-align: middle;
}

.buttonLoginFixedNavbar {
	font-size: 11px;
	line-height: 17px;
    padding: 6px 8px 6px;
    vertical-align: middle;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    margin-right: 0;
    margin-left: 0;
    transition: .3s box-shadow,.3s background;
}