.newsbar {
    width: 100%;
    height: 32px;
    background-color: #001547;
    box-shadow: 0 1px 2px 0 rgba(0,20,56,.06);

    > .container {

    	> p {
    		color: rgba(255,255,255,.9);
    		font-size: 12px;
    		line-height: 32px;
    		font-weight: 300;
    		display: block;
    		margin: auto;
    		letter-spacing: 0.02em;

    		> span {
    			margin-left: 2px;
    			font-weight: 300;
    			font-size: 11px;
    			background-color: #e67316;
    			padding: 2px 12px 2px;
    			border-radius: 11px;
    		}

            > span:hover {
                background-color: #ec7a1e;
                box-shadow: 0 1px 2px 0 rgba(0,20,56,.06);
                transition: .2s background-color,.2s box-shadow;
            }

    	}
    }
}