.home {
	min-height: 82vh;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.landingText {
	max-width: calc(55% - 72px);
	padding-top: 40px;

	.main {
		text-align: left;
		font-weight: 600;
	    line-height: 56px;
		font-size: 44px;
	    color: #fff;
    }

    .subMain {
    	max-width: 585px;
	    font-family: Graphik,"Avenir Next","Helvetica Neue",Helvetica,sans-serif;
	    font-size: 21px;
	    line-height: 36px;
	    font-weight: 400;
	    margin-top: 20px;
	    margin-bottom: 35px;
	    letter-spacing: -.03em;
	    color: #f0f4fe;
    }

    .getStarted {
    	padding: 17px 20px 17px;
	    font-size: 15px;
	    font-weight: 700;
	    margin-right: 10px;
	    color: #3880ff;
	    text-transform: uppercase;
	    letter-spacing: .08em;
	    display: -ms-inline-flexbox;
	    display: inline-flex;
	    -ms-flex-align: center;
	    align-items: center;
	    background-color: #fff;
	    border-radius: 5px;
	    box-shadow: 0 1px 3px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.12);
    }

    .disclaimer {
    	max-width: 585px;
	    font-family: Graphik,"Avenir Next","Helvetica Neue",Helvetica,sans-serif;
	    font-size: 14px;
	    line-height: 36px;
	    font-weight: 400;
	    margin-top: 20px;
	    margin-bottom: 35px;
	    letter-spacing: -.03em;
	    color: #f0f4fe;

	    a { 
	    	color: #f0f4fe; 
	    }
    }
}


