.navbar {

	height: 60px; 
	width: 100%;
	color: #fff;
	vertical-align: middle;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;

	> .brand {
		height: 1.2em;
		position: relative;
    	display: block;
	}
	
	> ul {

		list-style: none;
	    position: relative;
    	display: block;
    	margin: 5px 0;
    	font-size: 13px;
    	transition: .2s color;

    	li {

    		display: block;
    		float: left;
    		margin: 0 35px;
    	}

    	.right {
    		float: right;
    	}
   	}

   	.signUp {
   		margin-left: 10px;
   		padding: 17px 20px 17px;
		font-weight: 600;
		font-size: 13px;
		margin-right: 10px;
	    color: #3880ff;
	    text-transform: uppercase;
	    letter-spacing: .08em;
		display: -ms-inline-flexbox;
	    display: inline-flex;
	    -ms-flex-align: center;
	    align-items: center;
	    background-color: #fff;
		border-radius: 5px;
	    box-shadow: 0 1px 3px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.12);
	}
}